$color-primary: rgba(176, 151, 106, 1);
$color-primary-hover: rgba(153, 126, 77, 1);

$color-disabled: rgba(191, 191, 191, 1);
$color-disabled-secondary: rgba(245, 245, 245, 1);

$color-text: rgba(51, 51, 51, 1);

/* White */
$color-white: rgba(255, 255, 255, 1);

/* Dark */
$color-darkness: rgba(31, 32, 41, 1);

/* GREY */
$color-mercury-gray: rgba(232, 232, 232, 1);
$color-suit-gray: rgba(142, 142, 147, 1);
$color-light-gray: rgba(228, 228, 228, 1);
